.container {
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0px;
    top: 0px;
    width: 454px;
    height: 454px;
}

.title {
    font-size: 30px;
    text-align: center;
    width: 200px;
    height: 100px;
    justify-content: center;
    margin-left: 70px;
}

.nav {
    flex-direction: row;
    margin-top: 15px;
    justify-content: center;
}
